html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Lato', serif;
}

.nav-bar {
  position: absolute;
  right: 40px;
  color: #fff;
}

.hero-content {
  position: relative;
  left: 45%;
  top: 30px;
  height: 5rem;
  width: 100%;
}

.hero-title {
  left: 500px;
}

.new-task {
  position: absolute;
  top: 8rem;
  width: 100%;
  background-color: #CBCBCB;
}

.new-task-field {
  padding: 1rem 0 1rem 2.5rem;
}

.task-field {
  margin: 0 1rem 0.25rem 0;
  padding: 0.25rem;
  width: 30%;
  border: none;
  border-radius: 3px;
}

.priority {
  margin: 0 1rem 0 0;
  height: 1.75rem;
}

.submit {
  border-width: 3px;
  border-radius: 3px;
  padding: 0rem 1rem;
  text-align: center;
  display: inline-block;
}

.task-content {
  position: relative;
  left: 0;
  top: 12rem;
  height: 100%;
  width: 100%;
}

.task-list {
  top: 5rem;
  padding: 0 2.5rem 0 2.5rem;
}

.ion-checkmark-circled {
  float: left;
  position: relative;
  padding-right: 20px;
  top: 0.25rem;
}


.archive {
  position: relative;
  left: 0.5rem;
  text-decoration: line-through;
}
