<section class="hero-content">
  <h1 class="hero-title">Current Tasks</h1>
</section>

<section class="new-task">
  <div class="new-task-field">
    <input type="text" class="task-field" ng-model="messageTitle" placeholder="Name your new task">
    <input type="text" class="task-field" ng-model="messageDescription" placeholder="Describe your new task">
    <button class="submit" ng-click="home.addTask(messageTitle, messageDescription)">Add Task</button>
  </div>
</section>

<section class="task-content">
  <div class="task-list" ng-repeat="task in home.tasks">
    <h3>{{ task.title }}</h3>
    <p>Created: {{ task.createdAt }}</p>
    <p class="task-description">Description: {{ task.description }}</p>
  </div>
</section>
